In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

# Remplacez les valeurs suivantes par les informations de connexion à votre serveur MySQL
host = "localhost" # L'hôte du serveur MySQL
user = "root"  # Votre nom d'utilisateur MySQL
password = "root"  # Votre mot de passe MySQL
database_name = "courses"  # Le nom de la nouvelle base de données



# Créez une connexion au serveur MySQL
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)

# Créez un curseur pour exécuter des requêtes SQL
cursor = conn.cursor()

# Exécutez une requête SQL pour obtenir la liste des bases de données
cursor.execute("SHOW DATABASES")

# Récupérez les résultats de la requête
databases = cursor.fetchall()

# Vérifiez si la base de données que vous recherchez existe
if (database_name,) in databases:
    print(f"La base de données '{database_name}' existe.")
else:
    print(f"La base de données '{database_name}' n'existe pas.")
     # Utilisez le curseur pour exécuter une commande SQL de création de base de données
    create_database_query = f"CREATE DATABASE {database_name}"
    cursor.execute(create_database_query)
    print(f"La base de données '{database_name}' a été créée avec succès.")

# Fermez le curseur et la connexion
cursor.close()
conn.close()

La base de données 'courses' n'existe pas.
La base de données 'courses' a été créée avec succès.

In [3]:
# Créez une connexion à la base de données
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database_name
)

# Créez un curseur pour exécuter des requêtes SQL
cursor = conn.cursor()

# Exécutez une requête SQL pour obtenir la liste des bases de données
cursor.execute("SHOW TABLES")

# Récupérez les résultats de la requête
tables = cursor.fetchall()

# Vérifiez si la base de données que vous recherchez existe
if ("produit",) in tables:
    print(f"La table 'produit' existe.")
else:
    print(f"La table 'produit' n'existe pas.")
    # Définissez la commande SQL pour créer une table
    create_table_produit = """
    CREATE TABLE produit (
        id INT AUTO_INCREMENT PRIMARY KEY,
        code_article INT,
        libelle_article VARCHAR(255),
        famille_article_id INT,
        condition_id INT,
        pu_ht DOUBLE
    )
    """
    # Exécutez la commande SQL pour créer la table
    cursor.execute(create_table_produit)

    print(f"La table 'produit' a été créée avec succès.")

if ("famille_article",) in tables:
    print(f"La table 'famille_article' existe.")
else:
    print(f"La table 'famille_article' n'existe pas.")
    # Définissez la commande SQL pour créer une table
    create_table_famille_article = """
    CREATE TABLE famille_article (
        id INT AUTO_INCREMENT PRIMARY KEY,
        famille_produit VARCHAR(255)
    )
    """
    # Exécutez la commande SQL pour créer la table
    cursor.execute(create_table_famille_article)

    print(f"La table 'famille_article' a été créée avec succès.")

if ("conditions",) in tables:
    print(f"La table 'conditions' existe.")
else:
    print(f"La table 'conditions' n'existe pas.")
    # Définissez la commande SQL pour créer une table
    create_table_condition = """
    CREATE TABLE conditions (
        id INT AUTO_INCREMENT PRIMARY KEY,
        contenant_produit VARCHAR(255)
    )
    """
    # Exécutez la commande SQL pour créer la table
    cursor.execute(create_table_condition)

    print(f"La table 'conditions' a été créée avec succès.")

    # Validez la création de la table
    conn.commit()

# Fermez le curseur et la connexion
cursor.close()
conn.close()

La table 'produit' n'existe pas.
La table 'produit' a été créée avec succès.
La table 'famille_article' n'existe pas.
La table 'famille_article' a été créée avec succès.
La table 'conditions' n'existe pas.
La table 'conditions' a été créée avec succès.

In [4]:
import csv

In [25]:
# Chemin vers le fichier CSV
csv_file_path = "Produits - Feuille 1.csv"

# Établir une connexion à la base de données
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database_name
)

# Créer un curseur pour exécuter des requêtes SQL
cursor = conn.cursor()

# Lecture du fichier CSV et insertion des données dans la table
with open(csv_file_path, "r", newline="") as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)  # Ignorer la première ligne si elle contient les en-têtes

    for row in csv_reader:

        # Insérer les données dans la table MySQL
        insert_conditions = "INSERT IGNORE INTO conditions (contenant_produit) VALUES (%s)"
        # Remplacez "nom_de_la_table" et les colonnes par les valeurs appropriées

        # Exécution de la requête d'insertion
        cursor.execute(insert_conditions, (row[3],))
    
         # Insérer les données dans la table MySQL
        insert_famille_article = "INSERT IGNORE INTO famille_article (famille_produit) VALUES (%s)"
        # Remplacez "nom_de_la_table" et les colonnes par les valeurs appropriées

        # Exécution de la requête d'insertion
        cursor.execute(insert_famille_article, (row[2],))

        select_id_condition = f"SELECT id FROM conditions WHERE contenant_produit = %s"

        cursor.execute(select_id_condition, (row[3],))
    
        conditions_id = cursor.fetchone()[0]

        print(f"Voici les conditions:{conditions_id}")
    
        select_id_famille_article = f"SELECT id FROM famille_article WHERE famille_produit = %s"

        cursor.execute(select_id_famille_article, (row[2],))

        famille_article_id = cursor.fetchone()[0]
        
        print(f"voici les famille: {famille_article_id}")
    
         # Insérer les données dans la table MySQL
        insert_produit = "INSERT INTO produit (code_article, libelle_article, famille_article_id, condition_id, pu_ht) VALUES (%s, %s, %s, %s, %s)"
        # Remplacez "nom_de_la_table" et les colonnes par les valeurs appropriées

        # Exécution de la requête d'insertion
        cursor.execute(insert_produit, (row[0],row[1],famille_article_id,conditions_id,row[4]))

# Valider les modifications dans la base de données
conn.commit()

# Fermer le curseur et la connexion
cursor.close()
conn.close()

print("Les données du fichier CSV ont été insérées avec succès dans la base de données.")

Voici les conditions:10
voici les famille: 10:
Voici les conditions:10

InternalError: Unread result found

In [ ]:
import pandas as pd

In [ ]:
""" produit = pd.read_csv("Produits - Feuille 1.csv")
produit """

,Code article,LIBELLE ARTICLE,FAMILLE ARTICLE,CONDITION,PU HT
0,1010,HUILE ARACHIDE 25 L,HUILES,BIDON,"60,71"
1,1011,HUILE ARACHIDE 5 L,HUILES,BIDON,"14,33"
2,1012,HUILE ARACHIDE 1 L,HUILES,BOUTE,"2,87"
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),HUILES,BOUTE,"2,67"
4,1015,HUILE COLZA 5 L,HUILES,BIDON,"7,57"
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,SURGELES,CARTO,"17,50"
1859,35900,FARCIS NICOIS SG - SAC 2KG,SURGELES,CARTO,"51,52"
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,SURGELES,SAC,"40,90"
1861,37718,COOKIES CHOCOLAT SG 76G X30,SURGELES,CARTO,"29,65"
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,SURGELES,CARTO,"32,75"

In [ ]:
""" produit.info() """

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863 entries, 0 to 1862
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Code article     1863 non-null   int64
 1   LIBELLE ARTICLE  1863 non-null   object
 2   FAMILLE ARTICLE  1863 non-null   object
 3   CONDITION        1863 non-null   object
 4   PU HT            1863 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 72.9+ KB

In [ ]:
""" produit["PU HT"] = produit["PU HT"].str.replace(",",".")
produit["PU HT"] """

0       60.71
1       14.33
2        2.87
3        2.67
4        7.57
        ...
1858    17.50
1859    51.52
1860    40.90
1861    29.65
1862    32.75
Name: PU HT, Length: 1863, dtype: object

In [ ]:
""" produit["PU HT"] = produit["PU HT"].astype("double") """

In [ ]:
""" produit.to_csv("Produits - Feuille 1.csv", index=False) """